.elementor-control-third_party_input .elementor-control-content .elementor-control-field {
    flex-direction: column;
    align-items: flex-start;
}
.elementor-control-third_party_input .elementor-control-content .elementor-control-field label.elementor-control-title {
    margin-bottom: 5px;
}
.elementor-control-third_party_input .elementor-control-content .elementor-control-field .elementor-control-input-wrapper {
    float: left;
    width: 100%;
}
.elementor-control-SelectEmailfolder .elementor-control-content .elementor-control-field label
{
  font-weight: bold;
}
.elementor-control-SelectLeadFolder .elementor-control-content .elementor-control-field label
{
  font-weight: bold;
}
.elementor-control-SelectLeadType .elementor-control-content .elementor-control-field label
{
  font-weight: bold;
}
.elementor-control-SelectEmail .elementor-control-content .elementor-control-field label
{
 font-weight: bold;
}
.elementor-control-SelectWebinar .elementor-control-content .elementor-control-field label
{
 font-weight: bold;
}
.elementor-control-labelemailfolderitem .elementor-control-content span
{
 font-weight: bold;
}
.elementor-control-labelleadtypeitem .elementor-control-content span
{
 font-weight: bold;
}
.elementor-control-Source .elementor-control-content .elementor-control-field label
{
 font-weight: bold;
}
.elementor-control-pre_mapped_name .elementor-control-content
{
pointer-events: none;
}
.elementor-control-pre_mapped_email .elementor-control-content
{
pointer-events: none;
}
.checkbox_values
{
overflow: auto !important;
height: 300px !important;
}
.elementor-repeater-fields .elementor-repeater-row-controls.editable {
	float: left;
	width: 100%;
	max-height: 350px;
	overflow: auto;
}
.lead_calss
{
  margin: 0px 0px 12px 0px;
}
.elementorlabeledit
{
font-size: 16px !important;
font-weight: 500 !important;
margin: 0px 0px 12px 0px;
}